.img{
    width: 100%;
}
.containerImage{
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 8px;
    aspect-ratio: 1;
    justify-content: center;
}
.item{
    /* width: 30%; */
    margin-bottom: 80px;
    list-style: none;
}
.item:hover img {
    box-shadow: #00000038 0 0 30px;
    width: 110%;
    transition: 1000ms;
}
.item h2{
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    margin: 24px 0 16px 0;
}
.item span{
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-transform: capitalize;
    color: #A18A68;
}