.img{
    width: 100%;
}
.containerImage{
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 8px;
    aspect-ratio: 1;
    justify-content: center;
}
.item{
    margin-bottom: 80px;
    list-style: none;
    position: relative;
}

.item h2{
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    margin: 24px 0 16px 0;
}
.item span{
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-transform: capitalize;
    color: #A18A68;
}
.hoverItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 5px;
}
.item:hover .hoverItem{
    opacity: 1;
}
.iconItemHover{
   margin: 0 4%;
}
.buttonContainerIcon:hover{
    background: rgb(255 255 255 / 60%);
    transition: 250ms;
}
.buttonContainerIcon{
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    border-radius: 4px;
    background: rgb(161 138 104 / 30%);
    padding: 5px;
    margin: 10px 5px 0px;
    transition: 250ms;
}