.main{
    height: 100%;
    padding: 60px 0;
}
.wrapper{
    width: 1280px;  /* 1280px */
    min-height: 100vh;
    margin:  60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
